.mainSidebar {
    padding-top: 10%;
    height: 100vh;
    // padding-left: 10%;




    ul {
        list-style: none;
        padding: 0;
        margin: 10px;

        li {
            
            font-size: 18px;
            font-weight: 700;
            line-height: 18.23px;
            color: white;
            cursor: pointer;
            margin-top: 20%;
            margin-bottom: 8%;
            padding:5%;
            background-color: black;


           
        }
    }
}